/* site.css */
header, 
footer {
    background: lightgray;
    border: 1px solid black;
}

footer {
    padding: 10px;
    border-radius: 3px;
}

body {
    font-family: Segoe UI, Arial, Helvetica, sans-serif;
    font-size: 14px;
}

#main {
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #202020;
    margin: 20px 0;
    padding: 5px;
}

#main label {
    font-weight: bold;
}

#main input[type=text],
#main input[type=password],
#main textarea,
#main select {
    width: 150px;
}

#main input[type=submit] {
    background: green;
    border-radius: 5px;
    padding: 3px;
    color: white;
    margin: 5px 0;
}