* {
  margin: 0;
  padding: 0;
}

body {
  font-family: arial, helvetica, sans-serif;
}

#topbar {
  background: #fff;
  width: 100%;
  height: 40px;
  color: #404040;
}

.fixedwidth {
  width: 1050px;
  margin: 0 auto;
}

#logodiv {
  padding-top: 8.25px;
  float: left;
  border-right: 1px solid #ccc;
  padding-right: 10px;
}

#signindiv {
  font-weight: bold;
  padding: 9px 80px 11px 20px;
  float: left;
  font-size: .75em;
  border-right: 1px solid #ccc;
}

#signindiv img {
  position: relative;
  top: 2px;
}

#topmenudiv {
  float: left;
}

#topmenudiv ul {

}

#topmenudiv li {
  padding: 11.5px 20px 11.5px 20px;
  list-style: none;
  font-weight: bold;
  font-size: .75em;
  height: 100%;
  border-right: 1px solid #ccc;
  text-align: center;
  float: left;
}

#searchdiv {
  float: left;
  padding: 6px 0 0 10px;
}

#searchdiv input {
  height: 20px;
  padding-left: 5px;
  background: #e4e4e4;
  background-image: url("../img/magnify.png");
  background-repeat: no-repeat;
  background-position: right center;
  border: solid #e4e4e4;
}

#searchdiv input[placeholder="Search"] {
  font-weight: bold;
}

.break {
  clear: both;
}

#newsbar {
  background: #cc0101;
  width: 100%;
  height: 100px;
  color: #404040;
  border-bottom: 1px solid #fff;
}

#newsbar p {
  color: #fff;
  padding-top: 12px;
}

hr {
  margin-bottom: 4px;
  border: 1px solid #da4c4c;
}

#newsheader {
  font-size: 2em;
  padding-bottom: 8px;
}

#topicmenu li {
  color: #fff;
  float: left;
  list-style: none;
  font-size: .75em;
  padding: 4px 10px 0 10px;
  text-align: center;
  border-right: 1px solid #da4c4c;
}

.selected {
  border-bottom: 4px solid #fff;
}

#content {
  width: 100%;
  color: #404040;
  border-bottom: 1px solid #fff;
}

#technology {
  border-bottom: 3px solid #cc0101;
  padding-top: 5px;
  width: 106px;
}

h1 {
  color: #404040;
  font-size: 1.75em;
  padding-top: 18px;
  padding-bottom: 14px;
}

.headlineimage {
  float: right;
  padding-left: 20px;
}

#paragraph {
  font-size: .8em;
  text-align: justify;
  position: relative;
}














































































