* {
  margin: 0;
  padding: 0;
}

body {
  font-family: arial, helvetica, sans-serif;
  background: #cc0101;
}

#topbar {
  background: #fff;
  width: 100%;
  height: 40px;
  color: #000;
}

.fixedwidth {
  width: 1050px;
  margin: 0 auto;
}

#logodiv {
  padding-top: 8.25px;
  float: left;
  border-right: 1px solid #ccc;
  padding-right: 10px;
}

#signindiv {
  font-weight: bold;
  padding: 9px 80px 11px 20px;
  float: left;
  font-size: .75em;
  border-right: 1px solid #ccc;
}

#signindiv img {
  position: relative;
  top: 2px;
}

#topmenudiv {
  float: left;
}

#topmenudiv ul {

}

#topmenudiv li {
  padding: 11.5px 20px 11.5px 20px;
  list-style: none;
  font-weight: bold;
  font-size: .75em;
  height: 100%;
  border-right: 1px solid #ccc;
  text-align: center;
  float: left;
}

#searchdiv {
  float: left;
  padding: 6px 0 0 10px;
}

#searchdiv input {
  height: 20px;
  padding-left: 5px;
  background: #e4e4e4;
  background-image: url("../img/magnify.png");
  background-repeat: no-repeat;
  background-position: right center;
  border: solid #e4e4e4;
}

#searchdiv input[placeholder="Search"] {
  font-weight: bold;
}
























